<launch>
	<node
		name = "torsoListener"
		pkg = "ROS_drone_hand_control"
		type = "torsoListener" 
	/>

	<node
		name = "rightHandJointListener"
		pkg = "ROS_drone_hand_control"
		type = "rightHandJointListener" 
	/>

	<node
		name = "tfListener"
		pkg = "ROS_drone_hand_control"
		type = "tfListener" 
	/>

	<node
		name = "droneHandControlTakeoffAndLand"
		pkg = "ROS_drone_hand_control"
		type = "droneHandControlTakeoffAndLand" 
	/>

	<node
		name = "droneFlyUpDown"
		pkg = "ROS_drone_hand_control"
		type = "droneFlyUpDown" 
	/>

	<node
		name = "droneFlyFwdBwd"
		pkg = "ROS_drone_hand_control"
		type = "droneFlyFwdBwd" 
	/>

	<node
		name = "droneRotate"
		pkg = "ROS_drone_hand_control"
		type = "droneRotate" 
	/>

</launch>