<launch>

	<node
		name = "torsoListener"
		pkg = "ROS_drone_hand_control"
		type = "torsoListener" 
	/>

	<node
		name = "leftHandJointListener"
		pkg = "ROS_drone_hand_control"
		type = "leftHandJointListener" 
	/>

	<node
		name = "rightHandJointListener"
		pkg = "ROS_drone_hand_control"
		type = "rightHandJointListener" 
	/>

	<node
		name = "droneHandControlTakeoffAndLand"
		pkg = "ROS_drone_hand_control"
		type = "droneHandControlTakeoffAndLand" 
	/>

	<node
		name = "droneRotate"
		pkg = "ROS_drone_hand_control"
		type = "droneRotate" 
	/>
	
	<node
		name = "droneFlyFwdBwd"
		pkg = "ROS_drone_hand_control"
		type = "droneFlyFwdBwd" 
	/>

	<node
		name = "droneFlyRightLeft"
		pkg = "ROS_drone_hand_control"
		type = "droneFlyRightLeft" 
	/>

	<node
		name = "droneStop"
		pkg = "ROS_drone_hand_control"
		type = "droneStop"
	/>


</launch>